/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Silkscreen&display=swap');

*{
    box-sizing: border-box;
    /*font-family: 'Open Sans';*/
    font-family: 'Preahvihear', sans-serif;
}
body{
    /*display: flex;*/
    flex-direction: column;
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
	min-height: 100vh;
	background: url("../imagenes/FONDO_AHORCADO.jpg") no-repeat;
	background-position: center;
	background-size: cover;
    /*background: linear-gradient( #9b58d1,#ae91c5 );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;*/
}
section{
    /*position: relative;*/
	/*float: left;*/
    margin: 0 100px;
    width: 500px;
	border: 5px solid rgba(255, 255, 255, .6);
	border-radius: 15px;
	backdrop-filter: blur(15px);
	/*height: 450px;*/
	/*display: flex;*/
	/*justify-content: center*/;
	/*align-items: center*/;
    padding: 7px;
    /*width: 500px;
    background-color: #fff;
    border: 7px solid #ae91c5;
    color: #000;
    */
}
h2{
    border-bottom: 1px solid #e4b33f;;
    
    background: linear-gradient(to right, #bac719, /*#1233C7,*/ #0ca9b0 ); 
    -webkit-background-clip: text;
    color: transparent; 
    /*color: #1CE1AE;*/
    text-align: center;
    padding-bottom: 5px;
}
#palabra{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.letra{
    font-family: 'Preahvihear', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    height: 50px;
    width: 50px;
    border: 2px solid #e4a23f;
    border-radius: 10px;
    text-align: center;
    margin: 4px;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}
.pintar{
    background-color: #02bfa4;;
}
.pintarError{
    background-color: red;
}
h3{
    margin: 4px 0;
    font-weight: normal;
    font-size: 16px;
    color: #A6F219;
}
h3 span{
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

.boton-primario{
    display: inline-block;
    width: fit-content;
    margin: 10px;
    background-color: #02bfa400;
    border: 2px solid #F00B0B ;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
.boton-primario:hover{
    background-color: #F00B0B ;
}

.boton-secundiario{
    display: inline-block;
    width: fit-content;
    margin: 10px;
    background-color: #bf180200;
    border: 2px solid #19F299 ;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
.boton-secundiario:hover{
    background-color: #19F299;
}

.cont{
    /*display:;*/
    /*text-align: center;*/
    padding: 5px;
    width: 200px;
    border: 5px solid rgba(255, 255, 255, .6);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    color: white;
}

#imagenIntentos{
    display: flex;
    flex-direction: row;
     width: 400px; /* Ancho de 200 píxeles */
     height: 400px; /* Alto de 150 píxeles */
     border: 5px solid rgba(255, 255, 255, .6);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    /*height: 450px;*/
    /*display: flex;*/
    /*justify-content: center*/;
    /*align-items: center*/;
    padding: 7px;
}

.boton-terciario{
    display: inline-block;
    width: fit-content;
    margin: 10px;
    background-color: #bf180200;
    border: 2px solid #F27819;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
.boton-terciario:hover{
    background-color: #F27819;
}

 #alertaFlotante {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 9999;
    }

 .TITULO{
    font-family: 'Silkscreen', sans-serif;
    color: white;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    /*border-bottom: 6px solid #e4b33f;*/
 }
 .todo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
 }